---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  tags: [patch]

- name: Upgrade packages
  ansible.builtin.apt:
    upgrade: "{{ patch_upgrade_type }}"
  tags: [patch]

- name: Autoremove unused packages
  ansible.builtin.apt:
    autoremove: true
  when: patch_autoremove | bool
  tags: [patch]

- name: Check if reboot is required
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required
  tags: [patch]

- name: Reboot if required
  ansible.builtin.reboot:
    msg: "{{ patch_reboot_msg }}"
    reboot_timeout: "{{ patch_reboot_timeout }}"
  when:
    - patch_reboot_if_required | bool
    - reboot_required.stat.exists
  tags: [patch]
